/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font-family: sans-serif;
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*------- Calling Spongecell hosted Comcast Fonts --------*/
/* XfinityBrownWeb-Regular */

@font-face {
  font-family: 'XfinityBrownWeb-Regular';
  src: url:('https://cdn.flashtalking.com/93411/fonts/7d1c67efe403cb3f72ae695a3b3a4e1809ec8710.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/40915d5c7fac9eb0b4397623fac4cd6d0a48852d.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/1bf1652af0afef4076dc2fd7e065fbe531cdf610.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-Bold */

@font-face {
  font-family: 'XfinityBrownWeb-Bold';
  src: url:('https://cdn.flashtalking.com/93411/fonts/57cfca5154c2481062a796915c0bdab3ed0f6fd6.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/d4b3e162de98cb3f43636cde35fcc00e89f83fdf.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/1ccbf188da2dd4565c47b990c13da23365f1251e.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-BoldItalic */



@font-face {
  font-family: 'XfinityBrownWeb-BoldItalic';
  src: url:('https://cdn.flashtalking.com/93411/fonts/dd78931fcea87798824b2ea15508b3018ea83801.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/925713410a76312ac03b99b396ff01617ccd51b4.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/a241002feb1cb850183df40e8eac072407f86886.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-Italic */

@font-face {
  font-family: 'XfinityBrownWeb-Italic';
  src: url:('https://cdn.flashtalking.com/93411/fonts/8dce5ea02e414e29aae67005b9005d4b3c93540a.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/11618f303fbc6ea15251b1dea07a01a172457cf4.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/a8f706bffdb0cd829c1cf7648e9bf9a1b214603f.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-Light */

@font-face {
  font-family: 'XfinityBrownWeb-Light';
  src: url:('https://cdn.flashtalking.com/93411/fonts/74e41835de34c8deb73e1f979e66fe374ac4ccb9.woff'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/24941008179701317ed1b84ece7f42ed6a90c2d4.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/74e41835de34c8deb73e1f979e66fe374ac4ccb9.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-LightItalic */

@font-face {
  font-family: 'XfinityBrownWeb-LightItalic';
  src: url:('https://cdn.flashtalking.com/93411/fonts/289be44322768fce8ee7f2f396e63bb7bd4741eb.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/ee87a989f489f04b7ce40ad162c93a2681c95db1.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/196109e48488e6306e22a4d01083b2cf62f52247.woff') format('woff'); /* Legacy iOS */
}


/* ---------------------------------- Font Style Classses ---------------------------------- */
.xsn { font-family : 'XfinityBrownWeb-Regular'; font-style: normal;}

.xsb { font-family : 'XfinityBrownWeb-Bold'; font-style:normal;}

.xsl { font-family : 'XfinityBrownWeb-Light'; font-style:normal;}

.xsm { font-family : 'XFINITYStandardTT-Medium'; font-style:normal;}

.xsi { font-family : 'XfinityBrownWeb-Italic'; font-style: italic;}

.lhx2 { line-height: 2; }
.lhx05 { line-height: 0.5; }
.lhx08 { line-height: 0.8; }

.size12 {font-size: 12px;}
.size8 {font-size: 8px;}

.styleItalic {font-style: italic;}


/*@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) { @media { .xsb { font-family : 'XfinityBrownWeb-Bold'; font-style:normal; font-weight: 100; } }}*/

.mask{
/*    background-color: aquamarine;*/
    overflow: hidden;
/*    opacity: 0.5;*/
}


/* ---------------------------------- Texture Packer ---------------------------------- */
/* ---------------------------------- Non Dynamic Elements ---------------------------------- */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: -webkit-optimize-contrast;
}

div, img,ft-dynamic {
   position : absolute;
}
img{
    background-size: 100% 100%;
}

#container {
    width: 300px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    background: #000;
    color: #fff; 
    /*background-image:url(f.png);   */
}
#border{
    width: 298px;
    height: 248px;
    border: solid 1px black; 
}
#EfBackgroundImage {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#Frame1BackgroundImage img,#EfBackgroundImage img{
    width: 300px;
    height: 250px;
}

#bottomBar {
    height: 500px;
    width: 500px;
    background-color: #ebeef0;
/*    background-color: red;*/
    transform: rotate(-6.5deg);
    left: -31px;
    top: 206px;
}



#devTv{
    top: 34px;
    left: 25px;
}
#devTv img{
    width: 199px;
    height: 216px;
}

#devTv2{
    top: 55px;
    left: 41px;
}
#devTv2 img{
    width: 217px;
    height: 185px;
}

#tvHolderScreen{
    width: 275px;
    height: 156px;
    top: 36px;
    left: 27px;
    overflow: hidden;
}

#Frame2TVContent{
/*opacity: 0;*/
}
#Frame2TVContent img{
width: 196px;
height: 152px;
}
#Frame3TVContent{
/*opacity: 0;*/
}
#Frame3TVContent img{
width: 196px;
height: 152px;
}
#Frame4TVContent{
/*opacity: 0;*/
}
#Frame4TVContent img{
width: 196px;
height: 152px;
}


#tvHolderScreen2{
    width: 213px;
    height: 121px;
    top: 57px;
    left: 43px;
    overflow: hidden;
}

#Frame6TVContent img{
width: 213px;
height: 121px;
}

#Frame7TVContent img{
width: 213px;
height: 121px;
}

#contentTv img{
    top: 0px;
    left: -4px;
    width: 140px;
    height: 160px;
    /*background: url("300x250-West_0000_1.png") no-repeat;*/    
}

#micHolder{
    top: 74px;
    left: 204px;
    width: 85px;
    height: 85px;
}

.perspective{
  -webkit-animation-name: example ; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: example ; /* Safari 4.0 - 8.0 */
  -ms-animation-duration: .5s; /* Safari 4.0 - 8.0 */
  -ms-animation-fill-mode: forwards;
  animation-name: example;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes example {
  to { transform: skewX(21deg) skewY(-4deg) scaleY(.36) scaleX(.7) rotate(-36deg);
    left: 148px;
    top: 103px;

    }
}

#MicImg{
    background-size: 100% 100%;
    top: 12px;
    left: 9px;
    width: 53px;
    height: 58px;
}
#halo1a,#halo1b,#halo1c {
    background-size: 100% 100%;
    left: -1px;
    top: 0px;
    width: 73px;
    height: 78px;
}



#frame1_4HeadlineHolder{ /* for centering copy vertically */
    top: 10px;
    /* left: 4px; */
    height: 40px;
    width: 300px;
    /* display: table; */
    /* color: red; */
    text-align: center;
}
.first{

}
.second{
/*    display: inline-block;
    width: 150px;
    height: 40px;*/
    /* background: green; */
    vertical-align: middle;
}

#frame1_4Headline_300x250{
    text-align: right;
    /* display: table-cell; */
    /* vertical-align: middle; */
    letter-spacing: -0.6px;
    line-height: 20px;
    font-size: 21px;
    width: 145px;
    /* margin-right: 3px; */
    transform: skewY(6.7deg);
    /* transform: rotate(7.2deg); */
}

#Frame2AppName,#Frame3AppName,#Frame4AppName{
    font-family : 'XfinityBrownWeb-Regular'; font-style: normal;
    line-height: 20px;
    font-size: 21px;
    color:#90feff;
    transform: skewY(6.7deg);
    width: 150px;
    top: 0;
    position: absolute;
    text-align: left;   
    /*text-shadow:  0 0 10px #003498, 0 0 10px #00abff, 0 0 10px #003498, 0 0 20px #003498, 0 0 20px #00abff, 0 0 20px #003498, 0 0 30px #003498, 0 0 30px #00abff, 0 0 30px #003498, 0 0 40px #003498, 0 0 40px #00abff, 0 0 40px #003498*/
    /*text-shadow: 0 0 10px #00abff, 0 0 10px #00abff, 0 0 10px #00abff, 0 0 20px #00abff, 0 0 20px #00abff;*/
    text-shadow: 0 0 10px #003498, 0 0 10px #00abff, 0 0 10px #003498, 0 0 20px #003498, 0 0 20px #00abff, 0 0 20px #003498, 0 0 30px #003498;
}

#frame1_4Appnames_300x250 span{
}

.appname2,.appname3{
}

#appNameHolder{
    /* float: right; */
    top: 14px;
    left: 150px;
    top: 17px;
    /* margin-left: 5px; */
     /*position: relative; */
    /* width: 128px; */
    /* height: 60px; */
}


#Frame2AppName img{
    width: 106px;
    height: 39px;
}

#Frame3AppName img{
    width: 95px;
    height: 38px;
}

#Frame4AppName img{
    width: 108px;
    height: 39px;
}


#frame5CopyHolder{ /* for centering copy vertically */
    top: 0px;
    height: 74px;
    width: 286px;
    display: table;
}

#frame5Copy_300x250 {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.2;
    letter-spacing: -0.3px;
    font-size: 19px;
    width: 286px;
    position: relative;
    /*top: 18px;*/
/*    color: red;*/
}

#frame6CopyHolder{ /* for centering copy vertically */
    top: 0px;
    height: 63px;
    width: 300px;
    display: table;
}

#frame6Copy_300x250 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    letter-spacing: -0.3px;
    font-size: 19px;
    /* width: 300px; */
    position: relative;
    /* height: 50px; */
    /* top: 18px; */
    /* color: red; */
}

#frame7CopyHolder{ /* for centering copy vertically */
    top: 0px;
    height: 63px;
    width: 300px;
    display: table;
}

#frame7Copy_300x250 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    letter-spacing: -0.3px;
    font-size: 19px;
    /* width: 300px; */
    position: relative;
    /* height: 50px; */
    /* top: 18px; */
    /* color: red; */
}

#remoteHolder{
    top: 26px;
    left: 0px;
    width: 300px;
    height: 250px;
}

#buttomCtrlImg{
    background-size: 100% 100%;
    top: 111px;
    left: 167px;
    width: 36px;
    height: 21px;
}

#Frame5Remote img{
    background-size: 100% 100%;
    width: 379px;
    height: 258px;
}


#halo2a{
    background-size: 100% 100%;
    top: 100px;
    left: 154px;
    width: 63px;
    height: 43px;
}


#logo_300x250 {
    width: 60px;
    height: 20px;
    bottom: 8px;
    right: 9px;
}


#EfRemoteDevice{
    top: 110px;
    /*right: 121px;*/
    left: 65px;
}
#EfRemoteDevice img{
width: 16px;
height: 62px;
}

#EfTvDevice{
    top: 54px;
    /*right: 115px;*/
    left: 70px;
}
#EfTvDevice img{
width: 146px;
height: 128px;
}

#endFrameHeaderHolder { /* for centering copy vertically */
    top: 0px;
    height: 61px;
    width: 300px;
    display: table;
/*    color: red;*/
}

#endFrameHeader_300x250 {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    letter-spacing: -0.2px;
    font-size: 18px;
    width: 300px; 
}

/*bottomOffer - BO*/
#bottomOfferHolder {
    top: 203px;
    left: 19px;
    width: 200px;
    height: 50px;
}
#bottomOffer {
    position: relative;
    display: block;
    vertical-align: middle;  
    color: black;
}

#packageTitle_bo {
    position: relative;
    display: table-cell;
    width: 150px;
    height: 15px;
    font-size: 10px;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    vertical-align: bottom;
}

#symbol_bo {
    position: relative;
    float: left;
    font-size: 13px;
    margin-left: -2px;
    margin-top: 0px;
    opacity: 0;
}

#price_bo {
    position: relative;
    margin-top: 1px;
    float: left;
    font-size: 23px;
    letter-spacing: -1px;
    margin-left: -1px;
}

#rightContent_bo {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -11px;
}

#cents_bo {
    font-size: 12px;
    position: relative;
    top: 2px;
    left: 2px;
}

#range_bo {
    width: 110px;
    font-size: 9px;
    padding-left: 1px;
    line-height: 1;
    letter-spacing: 0.4px;
}

#offerBotTxtHolder_bo {
    position: relative;
    clear: both;
    width: 120px;
    left: -11px;    
    text-align: center;
    top: -1px;
}

#contract_bo{
    position: relative;
    top: 10px;
    line-height: 1;
    letter-spacing: 0.2px;
    font-size: 9px;
    text-align: center;
    margin-left: 1px;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
   #contract_bo{
    position: relative;
    top: 0px;
    line-height: 1;
    letter-spacing: 0.2px;
    font-size: 9px;
    text-align: center;
    margin-left: 1px;
    }
}
/* endFrame */
#endFrame{
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
}
#EF_boltContainer{
    top:106px;
    left:150px;
    width: 150px;
    height: 70px;
}
#endFrame_bolt{
    position: relative;
    display: block;
    font-size: 9px;
    top: 19px;
    /* width: 120px; */
    line-height: 10px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.2px;
/*    color: red;*/
}

#line{
    /*top: 83px;*/
    /* left: 20px; */
    width: 96px;
    height: 1px;
    margin-top: -3px;
    background-color: white;
}
#endOfferHolder {
    top: 52px;
    left: 35px;
    width: 98px;
    height: 95px;
}
#endOffer {
    position: relative;
    display: block;
    vertical-align: middle;  
/*    color:red;*/
}
#packageTitle {
    position: relative;
    display: table-cell;
    width: 136px;
    height: 22px;
    font-size: 10px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 1;
    vertical-align: bottom;
}

#symbol {
    position: relative;
    float: left;
    font-size: 18px;
    margin-left: 2px;
    margin-top: 4px;
}

#price {
    position: relative;
    margin-top: 4px;
    float: left;
    font-size: 43px;
    letter-spacing: -1px;
    margin-left: 4px;
}

#rightContent {
    position: relative;
    float: left;
    margin-left: 3px;
    margin-top: 5px;
}

#cents {
    font-size: 17px;
}

#range {
    top: 15px;
    width: 34px;
    height: auto;
    font-size: 8px;
    letter-spacing: .5px;
    padding-left: 0px;
    line-height: 1.2;
    position: absolute;
}

#offerBotTxtHolder {
    position: relative;
    clear: both;
    width: 120px;
    left: -11px; 
    text-align: center;
    top: -7px;
}

#contract{
    position: relative;
    line-height: 1.2;
    letter-spacing: -0.2px;
    font-size: 9px;
    text-align: center;
    /* margin-left: -12px; */
    margin-bottom: 0px;
}

#lto{
    padding: 5px 10px 6px 11px;
    background-color: #c8001d;
    color: white;
    font-size: 9px;
    letter-spacing: .3px;
}

#lto::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 0;
    border-color: #c8001d transparent transparent transparent;
}

#boltOnHolder2 { /* for centering copy vertically */
    /* padding-top: 8px; */
    /*position: relative;*/
    /*top: -4px;*/
    left: 0px;
    width: 96px;
    height: 60px;
    /*padding-top: 0px;*/
    margin-top: -14px;
    display: block;
}

#boltOn2_300x250 {
    position: relative;
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0px;
    line-height: 1.1;
    color: #1d261e;
    font-size: 10px;
}

#phoneNumber{
    top: 187px;
    left: -27px;
    width: 95px;
    font-size: 9px;
    text-align: right;
    letter-spacing: 0px;
}

#legalDisclaimerHolder{
    bottom: 0;
    width: 231px;
    height: 16px;
    display: table;
}

#legalDisclaimerf2_300x250,#legalDisclaimerf3_300x250,#legalDisclaimerf4_300x250,#legalDisclaimerf6_300x250,#legalDisclaimerf7_300x250,#legalDisclaimerEf_300x250 {
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -0.3px;
    line-height: 1.3;
    padding: 0 11px;
    font-size: 9px;
    color: #000101;
    top: 0;
    left: 0;
    position: absolute;
}

#ctaBg {
    top: 201px;
    left: 105px;
    width: 91px;
    height: 25px;
    overflow: hidden;
    background-color: #3399cc;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(255, 255, 255, 0.5), rgba(204, 204, 204, 0));
    background-position: -100px 0; 
}

#cta {
    text-align: center;
    font-size: 13px;
    width: 100%;
    color: white;
    white-space: nowrap;
    top: 7px;
    padding: 0;
}
/*----------------CONFETTI-----------------------*/
.dot{
  width:12px;
  height:12px;
  position:absolute;
  background-color:#00FF00;
  /*border-radius: 20px;*/
  z-index:2;
}
/*------------------ Classes ------------------- */
.displayNoneClass{
    display: none;
}